<div id="js-ff-cookie-bar" class="ff-cookie_bar">
    {# Header #}
    <div class="ff-cookie_bar_header">
        <p>Ce site utilise des cookies</p>
    </div>
    {# Body #}
    <div class="ff-cookie_bar_body">
        <p>
            En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de [Cookies ou autres traceurs] pour vous proposer [Par exemple, des publicités ciblées adaptés à vos centres d’intérêts] et [Par exemple, réaliser des statistiques de visites].
        </p>
        <p>
            <a href="{{ path('fluffy_gdpr') }}" class="ff-cookie_bar_link">En savoir plus</a>
            <a href="{{ path('fluffy_gdpr', {'_fragment': 'params'}) }}" class="ff-cookie_bar_link">Paramétrer les cookies</a>
        </p>
    </div>
    {# Footer #}
    <div class="ff-cookie_bar_footer">
        <a href="" id="js-ff-cookies-deny" class="ff-cookie_bar_btn deny">Refuser</a>
        <a href="" id="js-ff-cookies-allow" class="ff-cookie_bar_btn allow">Accepter les cookies</a>
    </div>
</div>
